body {
  font-family: var(--font-primary);
  background-color: var(--light-blue-100);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 280px;
  justify-content: center;
}

.body__container {
  display: flex;
  padding: 2.5rem;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  max-height: 1200px;
  margin: 0 auto;
  flex: 1;
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 7.5rem;
}

.header__logo {
  width: 1.95rem;
  cursor: pointer;
  transition: all 0.5s;
}

.header__logo:hover {
  opacity: 0.8;
}

.main {
  display: flex;
  width: 100%;
  column-gap: 3rem;
  padding-left: 3rem;
}
