.main__output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 25rem;
  flex: 1;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  gap: 2rem;
}

.main__output__text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main__output__message {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: var(--gray-500);
  line-height: 120%;
}

.main__output__info {
  font-size: 1rem;
  color: var(--gray-500);
  text-align: center;
  line-height: 150%;
}

.result__text {
  font-size: 1.5rem;
  color: var(--gray-400);
  overflow-wrap: break-word;
  word-break: break-word;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  background-color: transparent;
  line-height: 1.5;
}

.result__button {
  font-size: 1rem;
  width: 100%;
  max-width: 20.5rem;
  padding: 1.5rem;
  background-color: transparent;
  border-radius: 1.5rem;
  color: var(--dark-blue-300);
  transition: background-color 0.2s ease-in;
  border: solid 1px var(--dark-blue-300);
}

.result__button:hover {
  cursor: pointer;
}
