@media (max-width: 1200px) {
  html {
    font-size: 95%;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 90%;
  }
  .main {
    column-gap: 2rem;
    padding-left: 2rem;
  }
  .header {
    width: 5rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 80%;
  }
  body {
    min-height: 97.5vh;
  }
  .body__container {
    flex-direction: column;
  }
  .header {
    width: 100%;
    justify-content: left;
  }
  .main {
    flex-direction: column;
    padding-left: 0;
    flex: 1;
  }
  .main__input {
    height: fit-content;
    padding-left: 0;
    padding-right: 0;
  }
  #main__input__textarea {
    flex: 1;
  }
  .main__output {
    min-width: 100%;
    min-height: 100%;
  }
  .main__output__image {
    display: none;
  }
  .result__text {
    flex: 1;
  }
  .result__button {
    max-width: 100%;
  }
  .footer {
    margin-bottom: 2rem;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 70%;
  }
  body {
    min-height: 95vh;
  }
  .body__container {
    padding: 2.5rem 2rem;
  }
  .main__input__info {
    font-size: 1rem;
  }
  .main__input__buttons {
    gap: 1rem;
  }
  .main__input__buttons button {
    font-size: 1.2rem;
  }
  .result__button {
    font-size: 1.2rem;
  }
  .footer {
    margin-bottom: 3rem;
  }
  .footer__text {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 60%;
  }
  .body__container {
    padding: 2.5rem 1rem;
  }
}
