.Team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D9F7E9;
    padding: 34px 16px 39px 16px;
    position: relative;
}

.Team h2 {
    font-size: 32px;
    border-bottom: solid 3px;
    padding-bottom: 10px;
    margin-bottom: 38px;
}

.Team_input_color {
    position: absolute;
    top: 10px;
    right: 16px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.Team_input_color::-webkit-color-swatch-wrapper {
    padding: 0;
}

.Team_input_color::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.Team_cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}