.App {
  background-color: #fff;
  font-size: 0.9rem;
  min-width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

html {
  scroll-behavior: smooth;
}