@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prata&display=swap');

@import url('./reset.css');


/* Global */
#root {
  font-family: Montserrat, sans-serif;
  color: #212121;
}

a {
  text-decoration: inherit;
}

a:hover {
  color: #95FFD4;
}

h1,
h2,
h3,
h4 {
  font-family: Prata, serif;
}