@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Press+Start+2P&display=swap');
@import "./reset.css";
@import "./variables.css";
@import "./header-footer.css";
@import "./products.css";
@import "./add-product.css";
@import "./modal.css";

/* Main Styles */

*{
    font-family: var(--font-text);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1,
h2,
h3 {
    font-size: 24px;
    font-family: var(--font-display);
}

main {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 110px 0;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 1366px) {
    main {        
        padding: 60px 0;
        max-width: 1100px;
    }
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
        padding: 33px 0 60px 0;
    }

    .products {
        order: 1;
    }

    /* .products_container {
        box-shadow: none;
    } */
}