div:where(.swal2-container) .swal2-html-container{
    display: flex !important;
    flex-direction: column !important;
}

div:where(.swal2-container) .swal2-html-container input{
width: 100% !important;
margin: 0.4rem 0 0.8rem 0;
}