.Banner {
  width: 100%;
  min-height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Necesario para los pseudo-elementos */
  z-index: 1; /* Para asegurarte de que el contenido esté sobre el gradiente */
  flex-wrap: wrap; /* temp? */
  padding: 40px 15px 40px 15px;
  gap: 20px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(5px);
    z-index: -2;
    /* transform: scale(1.1); */
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #19191900 -50%, #191919 100%);
    z-index: -1; /* Coloca el gradiente detrás del contenido de .Banner */
    pointer-events: none; /* El gradiente no bloqueará la interacción */
  }

  .Banner_img_container {
    border-radius: 15px;
    border: 5px solid;
    overflow: hidden;
    position: relative;
    transition: scale 0.2s ease-in-out;
    cursor: pointer;
  }

  .Banner_img_container:hover {
    scale: 1.02;
  }

  .Banner_img_container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    /* box-shadow: inset 0 0 20px 1px var(--frontend); */
  }

  .Banner_img_container img {
    max-width: 450px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: relative;
    aspect-ratio: 16/9;
    z-index: 0;
  }

  .Banner_info {
    max-width: 500px;
  }

  .Banner_info h2 {
    max-width: fit-content;
    font-size: 24px;
    font-weight: 800;
    /* background-color: var(--frontend); */
    padding: 12px 32px;
    border-radius: 12px;
    margin-bottom: 28px;
  }

  .Banner_info h3 {
    text-wrap: balance;
    font-size: 46px;
    margin-bottom: 18px;
  }

  .Banner_info p {
    text-wrap: balance;
    font-size: 16px;
    font-weight: 300;
    line-height: 130%;
  }

  @media (max-width: 768px) {
    & {
      padding-top: 70px;
      margin-bottom: 50px;
    }
    & h3 {
      font-size: 36px !important;
    }
  }
}
