.Card {
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: solid;
  scale: 0.97;
  transition: scale 0.2s;

  &:hover {
    scale: 1;
  }

  img {
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 100%;

    cursor: pointer;

    /* Evita la selección de la imagen */
    user-select: none;

    /* Evita el arrastre de la imagen en navegadores basados en WebKit */
    -webkit-user-drag: none;

    /* Firefox */
    -moz-user-select: none;

    /* Internet Explorer/Edge */
    -ms-user-select: none;
  }
  .Card_info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 59px;
    background-color: rgba(0, 0, 0, 0.9);
    button {
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      opacity: 0.75;
      transition: opacity 0.2s;
      svg {
        font-size: 28px;
      }
      p {
        font-size: 14px;
        font-weight: 700;
      }
    }
    button:hover {
      opacity: 1;
    }
  }
}
