.Header {
  background: var(--darkblue);
  display: flex;
  padding: 35px 51px;
  align-items: center;
  flex-wrap: wrap; /* temp! */
  border-bottom: 4px solid var(--blue);
  box-shadow: 0 5px 29px rgba(34, 113, 209, 0.7);
  z-index: 2;

  img {
    max-width: 168.45px;
    height: auto;
    object-fit: contain;
    transition: filter 0.5s;
    cursor: pointer;
  }
  img:hover {
    filter: drop-shadow(0 0 12px var(--blue));
  }
  ul {
    margin-left: auto;
    display: flex;
    gap: 25px;
    flex-wrap: wrap; /* temp! */
  }
}
