.TextInput {
  font-family: "Source Sans 3", serif;
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;

  input,
  textarea {
    border: 3px solid #262626;
    border-radius: 10px;
    padding: 16px 9px;
    font-weight: 600;
    color: inherit;
    line-height: 28px;
  }
}
