.Banner {
  width: 100%;
  height: 276px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gradient {
  height: 100%;
  width: 100%;
  opacity: 0.5;
}
