@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Variables */
:root {
  --color-primario: black;
  --color-secundario: #f6f6f6;
  --color-terciario: #22d4fd;
  --color-hover: #272727;

  --fuente-montserrat: "Montserrat", sans-serif;
  --fuente-krona: "Krona One", sans-serif;
}

/* CSS Reset */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  /* font-size: 100%; */
  list-style-type: none;
  height: 100vh;
}
/* Reset end */

html {
  font-size: 80%;
}

body {
  color: var(--color-secundario);
  background-color: var(--color-primario);
}

.header {
  padding: 2% 0 0 15%;
}

.header__menu {
  display: flex;
  gap: 5rem;
}

.header__menu__link {
  font-family: var(--fuente-montserrat);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-terciario);
}

.presentacion {
  padding: 6% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5.125rem;
}

.presentacion__contenido {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.presentacion__contenido__titulo {
  font-family: var(--fuente-krona);
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 3.5rem;
}

.titulo-destaque {
  color: var(--color-terciario);
}

.presentacion__contenido__texto {
  font-family: var(--fuente-montserrat);
  font-size: 1.5rem;
  line-height: 2.25rem;
}

.presentacion__enlaces {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.presentacion__enlaces__subtitulo {
  font-size: 1.5rem;
  font-family: var(--fuente-krona);
  font-weight: 400;
  color: var(--color-secundario);
}

.presentacion__enlaces__link {
  width: 70%;
  text-align: center;
  padding: 1.34375rem 0;
  border-radius: 1rem;
  font-family: var(--fuente-montserrat);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-secundario);
  border: 2px solid var(--color-terciario);
  display: flex;
  justify-content: center;
  gap: 0.625rem;
  align-items: center;
}

.presentacion__enlaces__link:hover {
  background-color: var(--color-hover);
}

.presentacion__imagen {
  width: 40%;
}

.footer {
  background-color: var(--color-terciario);
  padding: 24px;
  color: var(--color-primario);
  text-align: center;
  font-family: var(--fuente-montserrat);
  font-size: 1.5rem;
  font-weight: 400;
}

@media (max-width: 1024px) {
  html {
    font-size: 70%;
  }

  .header {
    padding: 4rem;
  }

  .header__menu {
    justify-content: center;
  }

  .presentacion {
    flex-direction: column-reverse;
    padding: 2rem;
    margin: 0;
  }

  .presentacion__contenido {
    width: auto;
    max-width: 500px;
  }

  .presentacion__imagen {
    width: 90%;
    max-width: 400px;
  }

  .footer {
    margin-top: 3rem;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 65%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 60%;
  }
}
