:root {
  --color-primary: rgb(0, 90, 150);
  --color-dark: rgb(9, 14, 19);
  --color-accent: rgb(0, 247, 255);
  --color-gradient1: linear-gradient(
    45deg,
    var(--color-primary) 0%,
    rgb(0, 170, 192) 80%
  );
}
