* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1d1d1d;
    color: white;
}

main {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#game-container {
    position: relative;
    /* width: 80%;
    height: 80%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid white; */
}

canvas {
    display: block;
    /* Centra el canvas dentro del contenedor */
    margin: auto;
}
